.loginDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginButton {

    /* height: 2.5em;

    width: 10em; */
    padding: .5rem 2rem;
    height: 2.5em;
    width: 15em;
    margin: 1em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: medium;
    background-color: violet;
    border-radius: 0.4em;
    transition: 0.4s;
    color: black;
    font-weight: bolder !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 60px grey;
}

.loginButton:hover {

    cursor: pointer;
    transition: 0.3s;
    box-shadow: 10px 10px 60px white;
    box-shadow: 10px 10px 60px fuchsia;
}

.error {
    background-color: red;
    color: white;
    font-weight: bolder;
    width: max-content;
    border-radius: 2em;
    padding: 1em;
}