.primaryButton {

    padding: .5rem 2rem;
    height: 2.5em;
    width: 15em;
    margin: 1em;

    text-decoration: none;
    letter-spacing: .5px;
    line-height: 1.5;
    font-weight: 600;
    outline: 0;
    font-size: medium;
    border-radius: 0.2em;

    transition: 0.4s;
    -webkit-transition: all .3s;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #396cf0;
    border: 1px solid #396cf0;
    -webkit-box-shadow: 0 3px 5px 0 rgba(57, 108, 240, .3);
    box-shadow: 0 3px 5px 0 rgba(57, 108, 240, .3);
}

.primaryButton:hover {
    cursor: pointer;
    color: #396cf0;
    background-color: rgb(217, 227, 253);
    box-shadow: 1px 1px 5px gray;
}

.likes {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: indianred;

}

.likes:hover {
    color: red;
}

/* .registerButton {

    padding: .5rem 2rem;
    height: 2.5em;
    width: 15em;
    margin: 1em;

    text-decoration: none;
    letter-spacing: .5px;
    line-height: 1.5;
    font-weight: 600;
    outline: 0;
    font-size: medium;
    border-radius: 0.2em;

    transition: 0.4s;
    -webkit-transition: all .3s;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #396cf0;
    border: 1px solid #396cf0;
    -webkit-box-shadow: 0 3px 5px 0 rgba(57, 108, 240, .3);
    box-shadow: 0 3px 5px 0 rgba(57, 108, 240, .3);
}

.registerButton:hover {
    cursor: pointer;
    color: #396cf0;
    background-color: rgb(217, 227, 253);
    box-shadow: 1px 1px 5px gray;
} */



.editButton {
    background-color: blue;
    box-shadow: none;
    box-shadow: 10px 10px 40px rgb(0, 0, 175);
    color: whitesmoke;
}

.editButton:hover {

    cursor: pointer;
    transition: 0.3s;
    box-shadow: 10px 10px 60px blue;
}

.updateData {
    background-color: green;
    /* background-color: greenyellow; */
    color: aliceblue;
    box-shadow: 10px 10px 20px rgba(0, 128, 0, 0.743);
}

.updateData:hover {

    cursor: pointer;
    transition: 0.3s;
    box-shadow: 10px 10px 60px green;
}

.cardButton {
    padding: .5rem .5rem;
    height: 2.5em;
    width: 9em;
    margin: 1em;
    /* border: 1px solid #ffffff40; */
    box-shadow: 1.5px 1.5px 5px 0px rgba(255, 0, 238, 0.341);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    font-weight: 400;
    text-transform: uppercase;
}

.cardButton:hover {
    box-shadow: 10px 10px 60px fuchsia;
    transition: 0.4s;
}

.icon {
    display: flex;
    background-color: transparent;
    border-radius: 5em;
    border: solid 1px white;
    padding: .5em;
    color: white;
    transition: .4s;
    margin: .5em;
}

.icon:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.deleteAppointment {
    background-color: red;
    font-size: 1em;
    padding: 1em;
    display: flex;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin-inline: 1em;
}

.deleteAppointment:hover {
    cursor: pointer;
    border: 2px red solid;
    background-color: transparent;
}

.sendModalButton {
    font-size: 1em;
    width: 100%;
    padding: .5em 2em;
    display: flex;
    border-bottom-right-radius: 1em;

    justify-content: center;
    align-items: center;
    max-width: 100%;

    background-color: green;
}

.sendModalButton:hover {
    cursor: pointer;
    color: green;
    /* border: .1px green solid; */
    background-color: transparent;
}

.cancelModalButton {
    font-size: 1em;
    width: 100%;
    padding: .5em 2em;
    display: flex;
    border-bottom-left-radius: 1em;
    justify-content: center;
    align-items: center;

    max-width: 100%;

    background-color: red;
}

.cancelModalButton:hover {
    cursor: pointer;
    color: red;
    /* border: .1px red solid; */
    background-color: transparent;
}

.likesModalButtonViews {
    border-bottom-left-radius: 1em;
    /* border-bottom-right-radius: 1em; */
    font-size: 1em;
    width: 100%;
    padding: .5em 2em;
    display: flex;
    border-bottom-left-radius: 1em;
    justify-content: center;
    align-items: center;

    max-width: 100%;

    background-color: blue;
}

.likesModalButtonViews:hover {
    cursor: pointer;
    color: blue;
    /* border: .1px red solid; */
    background-color: transparent;
}

.cancelModalButtonView {
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 0em
}


.closeModalButton {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    color: whitesmoke;
}

.closeModalButton:hover {
    cursor: pointer;
    color: grey;
    font-size: large;
}

.addPost {
    margin: 1em;
    display: flex;
    background-color: none;
    cursor: pointer;
    transition: 0.4s;
}

.addPost:hover {
    cursor: pointer;
    color: #396cf0;
}

@media (prefers-color-scheme: light) {
    .primaryButton {
        color: whitesmoke;
    }

    .icon {
        color: black;
        border: solid 1px black;
    }

    .icon:hover {
        cursor: pointer;
        color: white;
        background-color: black;
    }
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em;
    margin: 0em;
}

.search:hover {
    cursor: pointer;
    color: red;
}