.homeDesign {
    height: 90vh;
    /* height: auto; */
    width: 100vw;

    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer {
    /* width: 50%;  when create the other profile box with pic active this line!*/
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    width: 100%;
    /* border: 1px solid #ffffff40; */
    /* luego quitar el borde o agregar para ver con otro objeto */
}

@media(min-width: 500px) {
    .boxContainer {
        width: 70%;

    }
}

@media(min-width: 700px) {
    .boxContainer {
        width: 50%;

    }
}

@media(min-width: 1000px) {
    .boxContainer {
        width: 45%;

    }
}

.title {
    flex: 1;
    /* Take up equal space */
    cursor: pointer;
    text-align: center;
    padding: 1em;
    /* border-top-left-radius: .5em; */
}

.title:hover {
    opacity: .5;
    /* Change background color on hover */
}

.title.active {
    background-color: #386cf0;
    color: #f8f9fa;

    /* Change background color when active */
}

.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 1em;
    font-weight: 400;
    color: black;

    background-color: #f8f9fa;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.leftSide .title {
    display: flex;
    flex-direction: column;
    border-top-left-radius: .5em;

    background-color: #386cf0;
    width: 50%;
}


.rightSide .title {
    display: flex;
    flex-direction: column;
    border-top-right-radius: .5em;
}


.homefooter {
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}


.buttonProfile {
    cursor: pointer;
    background-color: blue;
    padding: .5em 1em;
    border-radius: 1em;
    transition: .4s;
    margin: 1em;
}

.buttonProfile:hover {
    opacity: .5;
}

.bodyProfile {}