.homeDesign {
    /* height: 170vh; */
    max-height: fit-content;
    width: 100vw;

    /* background-color: red; */

    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;


}

.boxContainer {
    /* width: 50%; */
    /* when create the other profile box with pic active this line! */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    width: 100%;
    /* border: 1px solid #ffffff40; */
    /* luego quitar el borde o agregar para ver con otro objeto */
}

@media(min-width: 500px) {
    .boxContainer {
        width: 70%;

    }
}

@media(min-width: 700px) {
    .boxContainer {
        width: 45%;

    }
}

@media(min-width: 1000px) {
    .boxContainer {
        width: 50%;

    }
}

.title {
    flex: 1;
    /* Take up equal space */
    cursor: pointer;
    text-align: center;
    padding: 1em;
    /* border-top-left-radius: .5em; */
}

.title:hover {
    opacity: .5;
    /* Change background color on hover */
}

.title.active {
    background-color: #386cf0;
    color: #f8f9fa;

    /* Change background color when active */
}

.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 1em;
    font-weight: 400;
    color: black;

    background-color: #f8f9fa;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.leftSide .title {
    display: flex;
    flex-direction: column;
    border-top-left-radius: .5em;

    background-color: #386cf0;
    width: 50%;
}


.rightSide .title {
    display: flex;
    flex-direction: column;
    border-top-right-radius: .5em;
}


.homefooter {
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}


.buttonProfile {
    cursor: pointer;
    background-color: blue;
    padding: .5em 1em;
    border-radius: 1em;
    transition: .4s;
    margin: 1em;
}

.buttonProfile:hover {
    opacity: .5;
}

.coverPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gray; */
}

.backgroundHero {
    width: 100%;
}

.picProfile {
    margin-top: -3em;
    margin-bottom: .5em;
    border-radius: 50%;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    color: black;
    text-shadow:
        /* 1px 1px 1px white, */
        /* 0 0 1em blue, */
        0 0 0.3em whitesmoke;
    font-weight: 500;
}

.age {
    margin-top: .5em;
    font-weight: 600;
    padding-bottom: 1em;
}

.bodyProfile {
    width: 100%;
    padding: 1em;
    border-radius: .3em;
    /* height: 100vh; */
    /* luego quitar */
}

.percentageBlock {

    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5em;
}

.titleProfile {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-weight: 600;
}

.percentBar {
    /* background-color: #e9ecef; */
    /*is more lighty*/
    height: .7em;
    background-color: #9fb3cf;
    width: 95%;
    border-radius: 2em;
}

.percent {
    height: .7em;
    background-color: #386cf0;
    border-radius: 2em;
    color: #1b2836;
}

.dataProfile {

    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;

    margin: 1em;
    gap: .5em;
}

.row {
    display: flex;
    justify-content: left;
    flex-direction: row;
    font-weight: 500;
}

.key {
    color: black;
    text-shadow:
        /* 1px 1px 1px white, */
        /* 0 0 1em blue, */
        0 0 0.3em whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media(min-width: 500px) {

    .coverPage,
    .homefooter {
        width: 70%;

    }
}

@media(min-width: 700px) {

    .coverPage,
    .homefooter {
        width: 45%;

    }
}

@media(min-width: 1000px) {

    .coverPage,
    .homefooter {
        width: 50%;

    }
}