/* .postDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.myPostContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.titlePostContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.leftSide {
    margin-inline: 1em;
    font-weight: 600;
    font-size: 1.3em;
}

.postList {
    min-width: 70%;
    height: 59vh;
    width: 100%;
    /* overflow-x: hidden; */
}

/* mudado */
/* .post {
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 30em;
    width: 100%;
    color: #9ea9b8;
    font-weight: 500;
    margin-bottom: .5em;
    border: 1px solid #ffffff40;
    gap: .3em;
    padding: 1em;
    border-radius: .5em;

    display: flex;
    flex-direction: column;
    background-color: whitesmoke;

} */

/* mudado */
/* .headerPost {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* mudado */
/* .postOwner {
    color: dimgray;
} */

/* mudado */
/* @media (prefers-color-scheme: light) {
    .postOwner {
        color: dimgray;
    }
} */

/* mudado */
/* .date {
    color: orange;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
} */

/* mudado */
/* .postContent {
    cursor: pointer;
    color: red;
} */

/* mudado */
/* .postContent:hover {
    color: fuchsia;
} */

/* mudado */
/* .iconsInteraction {
    font-size: .9em;
    margin-inline: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* mudado */
/* .likesElements {
    gap: .5em;
    flex-direction: row;
    display: flex;

} */

/* .newPost {
    margin: .5em .1em;
    border: 1px solid #ffffff40;
    width: 100%;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .modalButtons {
    display: flex;
    justify-content: center;
    width: 100%;
    color: whitesmoke;

} */

/*** SWIPE LIST OVERRIDES **/
.swipe-action__leading {
    background-color: blue;
    color: whitesmoke;
    margin-bottom: .5rem;
    border-radius: .2em;
}

.swipe-action__trailing {
    background-color: red;
    margin-bottom: .5rem;
    border-radius: .2em;
    color: whitesmoke;
}

.swipeable-list .swipe-action {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}