  .Modal {
      position: absolute;
      outline: white;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      padding: 1em;

      min-width: 70%;
      min-height: 40%;
      background-color: rgba(255, 255, 255, 0.306);
      border-radius: 1em;
  }

  @media(min-width: 500px) {
      .Modal {
          min-width: 70%;
          min-height: 30%;
      }
  }

  @media(min-width: 700px) {
      .Modal {
          min-width: 50%;
          min-height: 30%;
      }
  }

  @media(min-width: 1000px) {
      .Modal {
          min-width: 45%;
          min-height: 30%;
      }
  }

  .Overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: rgba(11, 10, 10, 0.282);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(9px);

  }

  .postModalContainer {

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

  }

  .bodyPostModal {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: .3em;
  }

  .userNamePostView {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
  }

  .labelTextArea {
      margin: 0em;
      padding-bottom: .5em;
      color: white;
      font-size: 1.2em;
      font-weight: 600;
  }

  .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

  }

  @media (prefers-color-scheme: dark) {
      .postView {
          background-color: rgb(42, 61, 82);
          /* background-color: rgba(11, 10, 10, 0.687); */
      }

      .headerPostView {
          color: whitesmoke;
      }
  }

  @media (prefers-color-scheme: light) {
      .postView {
          background-color: rgba(123, 116, 116, 0.701);
      }


  }

  .postView {
      /* background-color: rgba(11, 10, 10, 0.687); */
      padding: .5em;
      border-top-right-radius: .5em;
      border-top-left-radius: .5em;

      width: 100%;
  }

  .userNamePostView {
      color: black;
      font-weight: 800;
  }

  .headerPostView {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      /* color: whitesmoke; */
      font-weight: 300;
      padding-top: .3em;
      padding-bottom: .3em;

  }

  .leftHeaderPostView {
      font-size: .8em;
  }

  .rightHeaderPostView {
      font-size: .9em
  }

  .contentPostView {
      background-color: rgba(205, 205, 205, 0.075);
      border-radius: .5em;
      padding: 1em;
      color: black;
      font-weight: 600;
  }

  .likesPostView {
      display: flex;
      gap: .5em;
  }

  .showUsersLikes {
      position: absolute;
      background-color: rgba(11, 10, 10, 0.987);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(9px);
      padding: 1em;
      border-radius: .5em;
      font-size: .8em;
      color: antiquewhite;
  }

  .showUsersLikes:hover {
      cursor: pointer;
      background-color: rgba(11, 10, 10, 0.5);

  }