.labelTextArea {
    margin: 1em;
    text-align: left;
}

/* .textareaEditPost {
    width: 100%;
} */

.textareaNewPost {
    /* luego poner en un box y poner ancho max width */

    padding: .5rem 1rem;
    height: 4em;
    max-width: 100%;

    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 1.5;

    text-align: left;
    border: none;
    /* border: 1px solid #e9ecef; */
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    /* color: #212529;
    background: whitesmoke; */

    overflow-wrap: break-word;
    /* padding: 1em; */
}

textarea::placeholder {
    color: lightgrey;

}

.inputDesignError {
    box-shadow: 1px 1px 25px red;
}

.inputBlock {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: 1.5px 1.5px 5px 0px rgba(255, 0, 238, 0.737);
    box-shadow: 1.5px 1.5px 5px 0px grey;
    color: black;
}

@media (prefers-color-scheme: light) {
    textarea::placeholder {
        color: #8492a6;
    }
}